/*
Theme Name: josei
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* reset */
/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font-size: 12px; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

/* reset.end */
.InnerBlock {
  width: 1034px;
  margin: 0px auto;
  overflow: hidden;
  position: relative; }

#GlobalHeader {
  padding: 16px 0 12px; }

#GlobalNavigation {
  margin: 0px auto -18px;
  width: 100%;
  padding: 7px 36px 110px 0px;
  background: url(images/common/bg_header.jpg) center -221px no-repeat;
  position: relative; }
  #GlobalNavigation ul {
    width: 650px;
    overflow: hidden;
    margin: 0 auto;
    float: right; }
  #GlobalNavigation li {
    margin: 0 0 0 -10px;
    float: left; }
  #GlobalNavigation div{
    width: 400px;
    margin: 37px 0;
    padding: 0 140px;
    float: left;
  }
#MainBlock {
  width: 822px;
  float: right; }

#SubBlock {
  width: 212px;
  float: left; }
  #SubBlock div {
    float: left; }

#UnderBannerBlock {
  width: 1034px;
  clear: both;
  padding: 75px 0 102px;
  overflow: hidden; }
  #UnderBannerBlock div {
    border: 1px solid #dedede;
    float: left;
    margin-right: 28px;
    width: 235px;
    height: 63px; }
  #UnderBannerBlock div:first-child {
    margin-left: 1px; }
  #UnderBannerBlock div:last-child {
    margin-right: 0; }

#GlobalFooter:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: #9b9b9b;
  position: absolute;
  top: -2px; }

#GlobalFooter {
  position: relative;
  border-top: 1px solid white;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  background-color: #ffa4a4;
  font-size: 12px;
  line-height: 21px;
  vertical-align: bottom; }

.BtnTop {
  width: 166px;
  height: 31px;
  position: absolute;
  bottom: 0px;
  right: 0px; }
  .BtnTop a {
    width: 166px;
    height: 31px;
    display: block;
    background-color: #ffa4a4;
    border-radius: 5px 5px 0px 0px; }
  .BtnTop a:hover {
    margin-top: -6px;
    height: 37px; }

.widget {
  margin-bottom: 7px; }

.MainSection {
  padding: 28px;
  background-color: #fff8e9;
  border-radius: 7px;
  border: 1px solid #dedede; }
  .MainSection > h1 {
    margin-bottom: 21px; }
  .MainSection > p {
    margin-bottom: 45px; }

.UnderSection1 > h1 {
  margin-bottom: 14px;
  padding: 7px 10px;
  vertical-align: top;
  background: url(images/common/bg_section_h1.png) no-repeat; }
.UnderSection1 p {
  padding: 0 12px; }
.UnderSection1 p:last-child {
  margin-bottom: 30px; }

.UnderSection2 > h1 {
  margin-bottom: 26px; }
.UnderSection2 p {
  line-height: 20px; }

.CommonSection {
  background-color: #fff8e9;
  border-radius: 7px;
  border: 1px solid #dedede;
  border-radius: 7px;
  overflow: hidden;
  font-size: 14px;
  line-height: 28px; }
  .CommonSection > h1 {
    border-radius: 7px 7px 0 0;
    padding: 11px;
    text-align: center;
    height: 32px;
    background-color: #ffa4a4; }
  .CommonSection > section,
  .CommonSection > p {
    padding: 28px 35px 28px 30px;
    overflow: hidden; }
  .CommonSection .BoxLeft {
    float: left; }
  .CommonSection .BoxRight {
    float: right; }
  .CommonSection a {
    text-decoration: underline;
    font-weight: bold; }

.OtherSection1 {
  margin-top: 36px;
  background-color: #fff8e9;
  border-radius: 7px;
  border: 1px solid #dedede;
  border-radius: 7px;
  overflow: hidden;
  font-size: 18px;
  line-height: 25px; }
  .OtherSection1 > h1 {
    border-radius: 7px 7px 0 0;
    padding: 11px;
    text-align: center;
    height: 32px;
    background-color: #ffa4a4; }
  .OtherSection1 dl {
    width: 340px;
    padding: 37px 20px 30px 80px;
    float: left; }
  .OtherSection1 dl:last-child {
    width: 340px;
    padding: 37px 20px 30px; }
  .OtherSection1 dt, .OtherSection1 dd {
    float: left; }
  .OtherSection1 dt {
    width: 110px;
    clear: both; }
  .OtherSection1 dd {
    width: 230px; }

.BigText {
  font-size: 18px; }

.wp-image-5144 {
  margin-top: 15px; }

.ChangePostion {
  position: relative; }
  .ChangePostion > h1 {
    margin-bottom: 14px;
    padding: 7px 10px;
    vertical-align: top;
    background: url(images/common/bg_section_h1.png) no-repeat; }
  .ChangePostion p {
    position: absolute;
    top: 7px;
    right: 0; }

.PDFlink {
  margin-top: 40px; }
  .PDFlink figure {
    margin-right: 20px;
    width: 153px;
    float: left; }
  .PDFlink figcaption {
    font-size: 12px;
    line-height: 20px; }

.TableRayOut01 {
  width: 100%; }
  .TableRayOut01 th, .TableRayOut01 td {
    font-size: 12px;
    line-height: 32px;
    font-weight: normal;
    vertical-align: middle;
    border: 1px solid black;
    text-align: center; }
  .TableRayOut01 tr:first-child th {
    font-size: 16px;
    line-height: 36px;
    color: white;
    background-color: #ffa4a4; }

.TableRayOut02 {
  border-top: 2px solid #ffa4a4;
  margin: 13px 0 0 -13px;
  padding-bottom: 22px;
  border-collapse: separate;
  border-spacing: 13px;
  width: 100%; }
  .TableRayOut02 th, .TableRayOut02 td {
    font-size: 12px;
    line-height: 32px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center; }
  .TableRayOut02 th {
    color: white;
    border-radius: 5px;
    background-color: #ffa4a4; }
  .TableRayOut02 td {
    background-color: white;
    border: 1px solid #ffa4a4;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle; }
