/*
Theme Name: josei
Theme URI: http://wordpress.org/themes/twentyfourteen
Author: the WordPress team
Author URI: http://wordpress.org/
Description: In 2014, our default theme lets you create a responsive magazine website with a sleek, modern design. Feature your favorite homepage content in either a grid or a slider. Use the three widget areas to customize your website, and change your content's layout with a full-width page template and a contributor page to show off your authors. Creating a magazine website with WordPress has never been easier.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: twentyfourteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* reset */
/*
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-size: 12px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}
input, select {
    vertical-align: middle;
}
li {
    list-style: none;
}
/* reset.end */
.InnerBlock {
    width: 1034px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}
#GlobalHeader {
    padding: 16px 0 12px;
    border-bottom: 1px solid #3698c9;
}
#GlobalNavigation {
    margin: 0px auto -49px;
    width: 100%;
    background: url(images/common/bg_header.jpg) center -29px no-repeat;
    border-top: 1px solid #96dcff;
    position: relative;
}
#GlobalNavigation ul {
    padding: 51px 36px 57px 30px;
    margin: 0 auto;
    width: 1034px;
    overflow: hidden;
    background: url(images/common/bg_header_text.png) center 25px no-repeat;
}
#GlobalNavigation li {
    margin: 0 13px 0 -39px;
    float: left;
}
#GlobalNavigation li:first-child {
    margin: 0 0 0 69px;
}
#GlobalNavigation li:nth-child(4) {
    margin: 0 13px 0 -44px;
}
#GlobalNavigation li:last-child {
    margin: 0 13px 0 -44px;
}
#TemplateNavigation {
    margin: 0px auto -55px;
    width: 100%;
    height: 196px;
    background: url(images/common/bg_header.jpg) center -156px no-repeat;
    border-top: 1px solid #96dcff;
}
#TemplateNavigation .InnerBlock {
    background: url(images/common/top_moji_small.png) left 53px no-repeat;
    width: 1034px;
    height: 196px;
}
#TemplateNavigation ul {
    padding: 17px 36px 71px 0px;
    margin-left: -10px;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
#TemplateNavigation li {
    float: left;
}
#MainBlock {
    width: 822px;
    float: right;
}
#SubBlock {
    width: 212px;
    float: left;
}
#UnderBannerBlock {
    width: 1034px;
    clear: both;
    padding: 75px 0 102px;
    overflow: hidden;
}
#UnderBannerBlock div {
    border: 1px solid #dedede;
    float: left;
    margin-right: 28px;
    width: 235px;
    height: 63px;
    overflow: hidden;
}
#UnderBannerBlock div:first-child {
    margin-left: 1px;
}
#UnderBannerBlock div:last-child {
    margin-right: 0;
}
#GlobalFooter:after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #9b9b9b;
    position: absolute;
    top: -2px;
}
#GlobalFooter {
    position: relative;
    border-top: 1px solid white;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    background-color: #ffa4a4;
    font-size: 12px;
    line-height: 21px;
    vertical-align: bottom;
}
#GlobalFooter .InnerBlock {
    overflow: visible;
}
.BtnTop {
    width: 166px;
    height: 31px;
    position: absolute;
    top: -43px;
    right: 0px;
}
.BtnTop a {
    width: 166px;
    height: 31px;
    display: block;
    background-color: #ffa4a4;
    border-radius: 5px 5px 0px 0px;
}
.BtnTop a:hover {
    margin-top: -6px;
    height: 37px;
}
.widget {
    margin-bottom: 7px;
}
.MainSection {
    padding: 30px;
    background-color: #fff8e9;
    border-radius: 7px;
    border: 1px solid #dedede;
}
.MainSection > h1 {
    margin-bottom: 21px;
}
.MainSection section {
    padding: 0;
}
.MainSection > p {
    margin-bottom: 45px;
    font-size: 14px;
    line-height: 20px;
}
.MainSection .alignright {
    padding: 3px 0px 16px 16px;
    float: right;
}
.UnderSection1 {
    margin-top: 28px;
    padding: 0px 35px 0px 30px;
    overflow: hidden;
}
.UnderSection1 > h1 {
    margin-bottom: 14px;
    padding: 7px 10px;
    vertical-align: top;
    background: url(images/common/bg_section_h1.png) no-repeat;
}
.UnderSection1 p {
    font-size: 14px;
    line-height: 23px;
    margin: 12px 12px 0px;
}
.UnderSection1 .UnderSection1:last-child p {
    margin-bottom: 30px;
}
.UnderSection1 .zidume {
    margin-top: 0px;
    font-size: 12px;
}
.UnderSection1 dl {
    width: 355px;
    padding: 0px 12px 0px;
    float: left;
}
.UnderSection1 dl:last-child {
    width: 360px;
    padding: 0px 6px 0px;
}
.UnderSection1 dt, .UnderSection1 dd {
    float: left;
    font-size: 12px;
    line-height: 23px;
}
.UnderSection1 dt {
    width: 136px;
    clear: both;
}
.UnderSection1 dd {
    width: 213px;
}
.UnderSection1 ul {
    width: 530px;
    padding: 0 12px;
}
.UnderSection2 > h1 {
    margin-bottom: 26px;
}
.UnderSection2 p {
    line-height: 20px;
}
.CommonSection {
    padding-bottom: 28px;
    background-color: #fff8e9;
    border-radius: 7px;
    border: 1px solid #dedede;
    border-radius: 7px;
    overflow: hidden;
    font-size: 14px;
    line-height: 23px;
}
.CommonSection > h1 {
    border-radius: 7px 7px 0 0;
    padding: 11px;
    text-align: center;
    height: 32px;
    background-color: #ffa4a4;
}
.CommonSection > p {
    margin-bottom: 28px;
    padding: 28px 45px 0px 40px;
    overflow: hidden;
}
.CommonSection .BoxLeft {
    float: left;
}
.CommonSection .BoxLeft02 {
    float: left;
    width: 280px;
}
.CommonSection .BoxRight {
    float: right;
    padding-right: 12px;
}
.CommonSection a {
    text-decoration: underline;
}
.BoxWidthS {
    width: 375px;
}
.BigText {
    font-size: 18px;
}
.wp-image-5144 {
    margin-top: 15px;
}
.ChangePostion {
    position: relative;
}
.ChangePostion > h1 {
    margin-bottom: 14px;
    padding: 7px 10px;
    vertical-align: top;
    background: url(images/common/bg_section_h1.png) no-repeat;
}
.ChangePostion p {
    position: absolute;
    top: -5px;
    right: 0;
}
.PDFlink {
    margin-top: 40px;
    padding: 0 12px;
    overflow: hidden;
}
.PDFlink figure {
    margin-right: 20px;
    width: 153px;
    float: left;
}
.PDFlink figcaption {
    font-size: 12px;
    line-height: 20px;
}
.TableRayOut01 {
    width: 100%;
}
.TableRayOut01 th, .TableRayOut01 td {
    font-size: 12px;
    line-height: 32px;
    font-weight: normal;
    vertical-align: middle;
    border: 1px solid black;
    text-align: center;
}
.TableRayOut01 tr:first-child th {
    font-size: 16px;
    line-height: 36px;
    color: white;
    background-color: #ffa4a4;
}
.BorderBox {
    border-bottom: 2px solid #ffa4a4;
    margin-bottom: 22px;
}
.TableRayOut02 {
    padding-bottom: 22px;
    border-collapse: separate;
    border-spacing: 13px;
    width: 100%;
}
.TableRayOut02 th, .TableRayOut02 td {
    font-size: 12px;
    line-height: 32px;
    font-weight: normal;
    vertical-align: middle;
    text-align: center;
}
.TableRayOut02 th {
    color: white;
    border-radius: 5px;
    background-color: #ffa4a4;
}
.TableRayOut02 td {
    background-color: white;
    border: 1px solid #ffa4a4;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}
.SideBarMAP {
    padding: 12px 0;
    text-align: center;
    width: 188px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #6a6a6a;
    background-color: #ffa4a4;
    border: 1px solid white;
}
.MAPtoMAIL {
    padding: 8px 0 15px;
}
.MAPbody {
    width: 168px;
    height: 128px;
    border: 1px solid white;
    margin: 3px auto 8px;
}
.default-card {
    display: none;
}
.contactImgSize {
    margin-bottom: -50px;
}
.katsudou, .jsoudan {
    margin: 0 12px;
    width: 735px;
}
.soudan_f th {
    vertical-align: top;
    padding: 5px;
}
.soudan_f td {
    vertical-align: top !important;
    padding: 5px;
}
.soudan_f td span {
    font-size: 12px;
}
/*女性医師会 一覧とか*/


.page_nav {
    width: 100%;
    margin: 30px auto 0;
    overflow: hidden;
		text-align:center;
}
.page_nav .left01 ,
.page_nav .left02 ,
.page_nav .left03 {
		width:29%;
		display:inline-block;
		*display: inline;
		*zoom: 1;
		vertical-align:top;
}
.page_nav .left01 {
		text-align:left;
}
.page_nav .left02 {
		text-align:center;
}
.page_nav .left03 {
		text-align:right;
}
.page_nav .left01 a ,
.page_nav .left03 a {
		display:inline-block;
		*display: inline;
		*zoom: 1;
		width:115px;
		height:38px;
		line-height:200px;
		text-indent:-9999px;
		text-decoration:none;
		overflow:hidden;
}
.page_nav .left01 a {    background: url(images/josei/ouen/bt02.jpg) left top no-repeat;}
.page_nav .left03 a {    background: url(images/josei/ouen/bt04.jpg) left top no-repeat;}
.jyosei_box .right_photo {
    float: right;
		width:300px;
		text-align:right;
		margin:0 0 50px 30px;
}
.jyosei_box .right_photo img {
	max-width:100%;
}
.jyosei_box {
    overflow: hidden;
    width: 100%;
}
.name_txt {
    float: left;
    width: 400px;
}
.content_txt {    width: 100%;}
h2.ouen {
    color: #757575;
    line-height: 32px;
    font-size: 16px;
    margin-left:12px;
		margin-bottom:10px;
}
h3.ouen {
    line-height: 36px;
    font-size: 24px;
    color: #e57e7e;
    margin-left:12px;
}
.list_box {
    width: 100%;
    padding: 30px 0 40px;
    margin: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid #ffaead;
}
.list_box .left_photo {
    float: left;
    border:1px solid #e88a8a;
}
.list_box p.left_photo {
		width:140px;
		height:140px;
    float: left;
    border:1px solid #e88a8a;
		vertical-align:top;
		margin:0;
		padding:0;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.txt_jyosei {
    float: right;
    width: 590px;
}
.txt_jyosei h3 {
    float: left;
    color:#808080;
    width: 450px;
}
.jyosei_ttl {
    overflow: hidden;
    width: 570px;
}
.txt_jyosei h4 {
    font-size:16px;
    color: #e88a8a;
}
p.time {
    color:#808080;
    margin: 0;
    width: 100px;
    text-align: right;
    float: right;
}

.bt_right{
    float:right;
    margin-top:20px;
    }
    
    p.time_page{
        margin:0 0 0px 12px !important;
        
        }