@charset "utf-8";
/* CSS Document */
/*
.box a {
	color: #CB72E9;
	text-decoration: underline;
}

.box a:hover {
	color:#A61568;
	text-decoration:underline;
	margin:0;
}
*/
/*---wp用追加 start----*/
.wpbox {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox table,
.wpbox table th,
.wpbox table td {
	border-collapse:collapse;
	border:1px solid #999;
}

.wpbox a {
	color: #CB72E9;
	text-decoration: underline;
}

.wpbox a:hover {
	color:#A61568;
	text-decoration:underline;
	margin:0;
}


.wpbox p{
	margin-bottom:0px;}

/*---wp用追加 end----*/


h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h4.style01 {
	font-size: 110%;
}

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

.bg-style {
	background-color: #FAE5EE;
}

/*---wp用追加 start----*/

th {color: #686868!important;}

/*---wp用追加 end----*/

