@charset "utf-8";
/* CSS Document */

/*
 .box a {
	color: #699D35;
	text-decoration: underline;
}

 .box a:hover {
    color:#009245;
	text-decoration:underline;
	margin:0;
}
*/

/*---wp用追加 start----*/
.wpbox {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox table,
.wpbox table th,
.wpbox table td {
	border-collapse:collapse;
	border:1px solid #999;
}


.wpbox a {
	color: #699D35;
	text-decoration: underline;
}

.wpbox a:hover {
	color:#009245;
	text-decoration:underline;
	margin:0;
}
/*---wp用追加 end----*/

.qaBox {
	margin-bottom: 30px;
}
.qaBox a {
	text-decoration: underline;
	line-height: 220%;
}
.qaBox table.style01 {
}
.qaBox table.style01 th {
	text-align: left;
	vertical-align: top;
	width: 20px;
	font-weight: normal;
	padding-top: 5px;
}



.qaBox table.style01 td {
	text-align: left;
	vertical-align: top;
	width: 280px;
}
.qaBox table.style02 {
}
.qaBox table.style02 td {
	line-height: 120%;
	text-align: left;
	vertical-align: top;
	padding-bottom: 15px;
}




h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h4.style01 {
	font-size: 110%;
}

.qaText {
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.qaText a {
	color: #6DA437;
	text-decoration: underline;
}
.qaText table.kanen td {
	line-height: 120%;
}
table.yakubutu {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CC67;
	border-left-color: #99CC67;
}
table.yakubutu td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #99CC67;
	border-bottom-color: #99CC67;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}

/*.linkstyle {
	color: #699D35;
	text-decoration: underline;
}*/

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}
table.kafun01 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}
table.kafun01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	padding: 3px;
}

/*---wp用追加 start----*/

th {color: #686868!important;}

/*---wp用追加 end----*/
