@charset "utf-8";
/* CSS Document */

 #menu .textBox ul {
	margin-top: 10px;
}

 #menu .textBox li {
	line-height: 120%;
	margin-bottom: 15px;
	width: 220px;
}
/*
.box a {
	color: #BD7524;
	text-decoration: underline;
}

.box a:hover {
	color:#996633;
	text-decoration:underline;
	margin:0;
}
*/
/*---wp用追加 start----*/
.wpbox {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox table,
.wpbox table th,
.wpbox table td {
	border-collapse:collapse;
	border:1px solid #999;
}



.wpbox a {
	color: #BD7524;
	text-decoration: underline;
}

.wpbox a:hover {
	color:#996633;
	text-decoration:underline;
	margin:0;
}


.wpbox_l {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox_l table,
.wpbox_l table th,
.wpbox_l table td {
	border-collapse:collapse;
	border:1px solid #999;
}


.wpbox_l a {
	color: #4180C5;
	text-decoration: underline;
}

.wpbox_l a:hover {
	color:#333399;
	text-decoration:underline;
	margin:0;
}



/*---wp用追加 end----*/

h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h5 {
	text-decoration: underline;
	margin-bottom: 10px;
}

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

.box22 {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	border:1px dotted #FF0000;
	padding:5px;
	
}


.boxLine {
	border: 1px solid #0099CC;
	padding: 9px;
	width: 580px;
}
.boxLineW {
	border: 3px double #FF6633;
	padding: 10px;
}

table.style01 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-left-color: #666666;

}


table.style01 th {
	background-color: #EAEEB5;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}
table.style01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	line-height: 160%;
	padding: 5px;
	width: 25%;
}

table.style02 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-left-color: #666666;

}
table.style02 th {
	background-color: #EAEEB5;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}
table.style02 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	line-height: 160%;
	padding: 5px;
}

p.monthTitle {
	font-size: 180%;
	font-weight: bold;
}

table.annai {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}
table.annai td {
	font-size: 10px;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	line-height: 140%;
}

/*---wp用追加 start----*/

th {color: #686868!important;}

/*---wp用追加 end----*/
