@charset "utf-8";
/* CSS Document */

/*.box a {
	color: #D56F6F;
	text-decoration: underline;
}

.box a:hover {
	color:#C63939;
	text-decoration:underline;
	margin:0;
}*/

/*---wp用追加 start----*/
.wpbox {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox a {
	color: #D56F6F;
	text-decoration: underline;
}

.wpbox a:hover {
	color:#C63939;
	text-decoration:underline;
	margin:0;
}

.wpbox table,
.wpbox table th,
.wpbox table td {
	border-collapse:collapse;
	border:1px solid #999;
}


/*---wp用追加 end----*/

h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h5 {
	text-decoration: underline;
	margin-bottom: 10px;
}

.boxLine {
	border: 1px solid #0099CC;
	padding: 9px;
	width: 580px;
}
.boxLineW {
	border: 3px double #FF6633;
	padding: 10px;
}



.qaBox {
	margin-bottom: 30px;
}
.qaBox a {
	text-decoration: underline;
	line-height: 220%;
}


.qaText {
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.qaText a {
	color: #6DA437;
	text-decoration: underline;
}

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

/*---wp用追加 start----*/

th {color: #686868!important;}

/*---wp用追加 end----*/

table.enkaku01 {
	margin-right: auto;
	margin-left: auto;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #CC9966;
	border-left-color: #CC9966;
}
table.enkaku01 th {
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CC9966;
	border-bottom-color: #CC9966;
}
table.enkaku01 td {
	text-align: right;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CC9966;
	border-bottom-color: #CC9966;
}
table.enkaku02 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-left-color: #666666;
	margin-right: auto;
	margin-left: auto;
}
table.enkaku02 th {
	font-weight: normal;
	background-color: #DEDDEA;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}
table.enkaku02 th.style01 {
	background-color: #EDE1A9;
	padding-right: 5px;
	padding-left: 5px;
	width: 60px;
}
table.enkaku02 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	padding-left: 10px;
	line-height: 160%;
	padding-top: 5px;
	padding-bottom: 3px;
}

table.style01 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #666666;
	border-left-color: #666666;

}
table.style01 th {
	background-color: #EAEEB5;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
}
table.style01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #666666;
	border-bottom-color: #666666;
	line-height: 160%;
	padding: 5px;
}
