@charset "utf-8";
/* CSS Document */
/*
.box a {
	color: #4180C5;
	text-decoration: underline;
}
*/
.box a:hover {
	color:#333399;
	text-decoration:underline;
	margin:0;
}


/*---wp用追加 start----*/
.wpbox {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox table,
.wpbox table th,
.wpbox table td {
	border-collapse:collapse;
	border:1px solid #999;
}


.wpbox a {
	color: #4180C5;
	text-decoration: underline;
}

.wpbox a:hover {
	color:#333399;
	text-decoration:underline;
	margin:0;
}


.wpbox_l {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

.wpbox_l table,
.wpbox_l table th,
.wpbox_l table td {
	border-collapse:collapse;
	border:1px solid #999;
}


.wpbox_l a {
	color: #4180C5;
	text-decoration: underline;
}

.wpbox_l a:hover {
	color:#333399;
	text-decoration:underline;
	margin:0;
}

/*---wp用追加 end----*/


h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h5 {
	text-decoration: underline;
	margin-bottom: 10px;
}

.boxLine {
	border: 1px solid #0099CC;
	padding: 9px;
	width: 580px;
}
.boxLineW {
	border: 3px double #FF6633;
	padding: 10px;
}



.qaBox {
	margin-bottom: 30px;
}
.qaBox a {
	text-decoration: underline;
	line-height: 220%;
}


.qaText {
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.qaText a {
	color: #6DA437;
	text-decoration: underline;
}

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

table.wakari td.style01 {
	padding: 8px;
	border: 1px solid #418CA9;
}
table.wakari td.style02 {
	padding-top: 8px;
	padding-bottom: 8px;
}

table.annai {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}
table.annai td {
	font-size: 10px;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	line-height: 140%;
}

table.annai2 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}
table.annai2 td {
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
}

table.chisanpo {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}table.chisanpo th {
	background-color: #CACA95;
	padding: 3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	color: #333333;
}
table.chisanpo td {
	padding: 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
}

table.chiken {
	background-color: #E8F1B4;
}
table.chiken th {
	padding: 5px;
	font-weight: normal;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	color: #666666;
}
table.chiken td {
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 10px;
}
table.chiken td.style01 {
	background-color: #FFFFFF;
}
table.chiken td.style02 {
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

/*---wp用追加 start----*/

th {color: #686868!important;}

/*---wp用追加 end----*/
