@charset "utf-8";

div,td,th,p,pre  {
	/*font-size: 12px;
	line-height:200%;*/
	margin: 0;
	/*font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;*/	}

img {
	vertical-align:middle;
	border:0;
	margin:0;
}
.imgBotom {
	vertical-align:bottom;
}
li {
	margin: 0;
	list-style: none;
}
ol, ul {
	margin: 0;
	padding:0;
}
li ul {
	margin: 0 0 0 0;
	padding: 0;
	line-height:20px;
}
dd {
	margin-left: 1em;
}
h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
}
h4, h5, h6 {
	font-size:12px;
	font-weight: bold;
	margin:0;
}
form {
	margin:0;
}
.clear {
	margin-top: 0;
	clear: both;
}

/*----------------------------------------
  リンク設定
----------------------------------------*/
a {
	color:#686868;
	text-decoration:none;
	margin:0;
}
a:hover {
    color:#009245;
	text-decoration:underline;
	margin:0;
}

/*---------画像 半透明---------*/
a img{
background:none!important;
}

a:hover img{
opacity:0.6;
filter:alpha(opacity=60);
-ms-filter: "alpha( opacity=60 )";
background:none!important;
}

a:hover img.imglnk-no{
opacity:none;
filter:none;
-ms-filter:none;
background:none!important;
}



/*---------png画像など---------*/
 .iepngfix {
 behavior: expression(IEPNGFIX.fix(this));
}


/*ページ上部にに戻る*/
.TopTxt {
	text-align:right;
	width:100%;
}
.TopTxt a {
	color:#686868;
	text-decoration:underline;
}
.TopTxt a:hover {
    color:#009245;
	text-decoration:underline;
}




hr {
	border-width: 1px 0px 0px 0px; /* 太さ */
	border-style: dashed; /* 線種 */
	border-color: #3eb134; /* 線色 */
	height: 1px; /* 高さ */
	padding-bottom:5px;
}


/*フォントの色*/


.Red {
	color:#F00;
}
.Green {
	color:#50a117;
}
.Green18 {
	margin-bottom:5px;
	font-size:18px;
	color:#50a117;
}
.Blue {
	color:#1f70c3;
}
.Orange {
	color:#FF6600;
}

.Bold {
	font-weight: bold;
}
.font-nomal{
	font-weight: normal;
}



/*フォントの大きさ*/

 .Font16 {
	font-size:16px;
}
.small {
	font-size: 90%;
}
.font-big {
	font-size: 120%;
}

.font-udline {
	text-decoration: underline;
}


/*float画像*/
.img_L {
	float:left;
}
.img_C {
	text-align:center;
	margin:0 auto;
}
.img_R {
	float:right;
}


/*----------------------------------------
  Margin設定
----------------------------------------*/

.ml2{
	margin-left:2px;}
.ml5{
	margin-left:5px;}
.ml15{
	margin-left:15px;}
.ml20{
	margin-left:20px;}
.ml30{
	margin-left:30px;}
.ml40{
	margin-left:40px;}
.ml50{
	margin-left:50px;}

.mr4{
	margin-right:4px;}
.mr5{
	margin-right:5px;}
.mr10{
	margin-right:10px;}
.mr20{
	margin-right:20px;}
.mr25{
	margin-right:25px;}

.mb5{
	margin-bottom:5px;}
.mb10{
	margin-bottom:10px;}
.mb20{
	margin-bottom:20px;}
.mb30{
	margin-bottom:30px;}
.mb40{
	margin-bottom:40px;}
.mb50{
	margin-bottom:50px;}



/*----------------------------------------
  回り込み　行揃え
----------------------------------------*/

.fl-l{
	float: left;
}
.fl-r{
	float: right;
}

.alg-r{
	text-align: right;
}


/*----------------------------------------
  共通BOX
----------------------------------------*/
.boxleft {
	float: left;
}
.boxright {
	float: right;
}

#google{
	float:right;
	width:300px;}