﻿@charset "utf-8";
/*
Theme Name: 富山県医師会 toyamakenishikai　県民の皆様へ kenmin
Theme URI: http://wordpress.org/
Description: toyamaishikai
Author: the WordPress team
Version: 1.2
License: GNU General Public License
License URI: license.txt
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu
*/



/*==================================================
　　common.css
==================================================*/
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background-color: #dcdcdc;
	background-image: url(images/common/bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

#wrapper-bg{
	width:100%;
	background-image: url(images/common/boder.png);
	background-repeat: no-repeat;
	background-position: center top;
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;}

#wrapper {
	width:980px;
	padding-bottom:20px;
	
	margin:0 auto;
}

/*-------------------------------------------------------------------------------
   Header
---------------------------------------------------------------------------------*/
#header {
	width: 960px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	height: 55px;
	padding-bottom: 4px;
}
#header .boxright {
	text-align: right;
	line-height: 12px;
}
#header .boxright p {
	line-height: normal;
}


/*#header .boxright img {
	position:relative;
	top:-2px;
}*/

/*-------------------------------------------------------------------------------------------------------------

   Next Page Layout

---------------------------------------------------------------------------------------------------------------*/

#container {
	width: 976px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	padding-left: 4px;
}

/*-------------------------------------------------------------------------------
   Navi
---------------------------------------------------------------------------------*/
#navi {
	height: 59px;
	margin-bottom: 10px;
}
#navi li {
	float: left;
	margin-right: 4px;
}

#navi a:hover img{
opacity:none;
filter:none;
-ms-filter:none;
background:none!important;
}



/*-------------------------------------------------------------------------------
   Bread Navi パンくずリスト
---------------------------------------------------------------------------------*/
#breadNavi {
	width: 970px;
	margin-bottom: 10px;
	padding-left: 4px;
}

/*-------------------------------------------------------------------------------
   Menu （Next用左メニュー）
---------------------------------------------------------------------------------*/

#menu {
	float: left;
	width: 272px;
	border:#FF0000 thin 2px;
}

/*角丸シャドウ　下部*/
#menu .textBg {
	background-image: url(images/common/menu-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 272px;
	padding-bottom: 20px;
}

/*メニューエリア*/
#menu .textBox {
	background-image: url(images/common/menu-bg-middle.png);
	background-repeat: repeat-y;
	width: 220px;
	min-height: 445px;  /*高さの最低値*/
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 26px;
	line-height: 250%;
	padding-bottom: 10px;
}


/*アーカイブエリア*/
#menu .wiget-archive-title {
	margin:0;
	padding: 0;
	line-height:0;}

#menu .wiget-archive {
	background-image: url(images/common/menu-bg-middle.png);
	background-repeat: repeat-y;
	width: 220px;
	margin-top:0;
	padding-top: 1px;
	padding-right: 26px;
	padding-left: 26px;
	line-height: 250%;
	padding-bottom: 10px;
}

#menu .wiget-archiveBg {
	background-image: url(images/common/menu-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 272px;
	padding-bottom: 20px;
}





/*-------------------------------------------------------------------------------
   Contents
---------------------------------------------------------------------------------*/
#contents {
	width: 692px;
	margin-right: 4px;
	/*float: right;*/
}

/*角丸シャドウ　下部*/
#contents .textBg {
	background-image: url(images/common/contents-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 692px;
	padding-bottom: 20px;
	margin-bottom: 14px;
}

/*コンテンツエリア*/
#contents .textBox {
	background-image: url(images/common/contents-bg-middle.png);
	background-repeat: repeat-y;
	width: 680px;
	min-height: 275px;  /*高さの最低値*/
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 25px;
	padding-bottom: 20px;
}
#contents .textBox .title {
	background-image: url(images/common/contents-h3-line.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
}
#contents .textBox .title h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
}
#contents .textBox .title p {
	font-size: 12px;
	line-height:200%;
	margin: 0;
	font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;
}

#contents .textBox .box {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}



/*-------------------------------------------------------------------------------
   Footer
---------------------------------------------------------------------------------*/

#footer {
	padding-top:20px;
	width:100%;
	background:#f3f3f3;
	margin:0 auto;
}

/*バナー配置用------------------------*/
#footer #foot-bn {
	text-align: center;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 40px;
}
/*住所・Footnavi------------------------*/
#footer #foot-navi {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}


/*Copyright------------------------*/
#footer #foot-txt{
	width:100%;
	background:#323233;

	margin:0 auto;
}
#footer #foot-txt #copy{
	width:980px;
	margin:0 auto;
	text-align:right;
	padding:20px 0 10px;
	color: #FFFFFF;
}



/*==================================================
　　index.css
==================================================*/
.block01,
.block02,
.block03,
.block04 {
	/* Layout */
	float:left;
	position: relative;
	width: 240px;
	height: 479px;
	display: block;
	overflow: hidden;
	/* Styling */
	background: url(box.jpg);
	margin-bottom: 10px;
}
.slidemeup01,
.slidemeup02,
.slidemeup03,
.slidemeup04 {
	/* Layout */
	position: absolute;
	bottom: 6px;
	left: 5px;
	display: none;
	width: 189px;
	height: 40px;
	padding: 20px 20px 30px;
	
	/* Styling */
	color: #333;
	font: bold 25px/23px Helvetica,Arial,sans-serif;
	background: url(images/index/overlay.png);
	-webkit-box-shadow: 0 1px 5px #fff;
	-moz-box-shadow: 0 1px 5px #fff;
	box-shadow: 0 1px 5px #fff;
	text-shadow: 0 1px 0 #fff;
}


.Newsbox {
	width: 482px;
	background-image: url(images/index/news-bg-middle.jpg);
	background-repeat: repeat-y;
}
.Newsbox .textBox {
	background-image: url(images/index/news-bg-bottom.jpg);
	background-repeat: no-repeat;
	width: 432px;
	background-position: bottom;
	padding-top: 10px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
}


/*==================================================
　　iryou.css
==================================================*/

/*未反映*/



/*==================================================
　　ishikai.css
==================================================*/

/*未反映*/



/*==================================================
　　josei.css
==================================================*/

/*未反映*/



/*==================================================
　　kenmin.css
==================================================*/

#kenmin .box a {
	color: #699D35;
	text-decoration: underline;
}

#kenmin .box a:hover {
    color:#009245;
	text-decoration:underline;
	margin:0;
}

.qaBox {
	margin-bottom: 30px;
}
.qaBox a {
	text-decoration: underline;
	line-height: 220%;
}
.qaBox table.style01 {
}
.qaBox table.style01 th {
	text-align: left;
	vertical-align: top;
	width: 20px;
	font-weight: normal;
	padding-top: 5px;
}



.qaBox table.style01 td {
	text-align: left;
	vertical-align: top;
	width: 280px;
}
.qaBox table.style02 {
}
.qaBox table.style02 td {
	line-height: 120%;
	text-align: left;
	vertical-align: top;
	padding-bottom: 15px;
}




h4 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
}
h4.style01 {
	font-size: 110%;
}

.qaText {
	margin-right: 20px;
	margin-bottom: 30px;
	margin-left: 20px;
}
.qaText a {
	color: #6DA437;
	text-decoration: underline;
}
.qaText table.kanen td {
	line-height: 120%;
}
table.yakubutu {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #99CC67;
	border-left-color: #99CC67;
}
table.yakubutu td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #99CC67;
	border-bottom-color: #99CC67;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
}

/*.linkstyle {
	color: #699D35;
	text-decoration: underline;
}*/

.box2 {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}
table.kafun01 {
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-left-color: #999999;
}
table.kafun01 td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999999;
	border-bottom-color: #999999;
	padding: 3px;
}



/*==================================================
　　member.css
==================================================*/

/*未反映*/


/*==================================================
　　style.css
==================================================*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}*/


html, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, 
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr,  {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}


/*
body {
	color: #363636;font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;font-size: 12px;line-height: 160%;background-color: #dddddd;
}

h1, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
*/

div,td,th,p,pre  {
	/*font-size: 12px;
	line-height:200%;*/
	margin: 0;
	/*font-family: Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
	_font-family: 'ＭＳ Ｐゴシック', sans-serif;
	color: #686868;*/
	}

img {
	vertical-align:middle;
	border:0;
	margin:0;
}
.imgBotom {
	vertical-align:bottom;
}
li {
	margin: 0;
	list-style: none;
}
ol, ul {
	margin: 0;
	padding:0;
}
li ul {
	margin: 0 0 0 0;
	padding: 0;
	line-height:20px;
}
dd {
	margin-left: 1em;
}
h1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
/*h3 {
	font-size: 16px;
	font-weight: bold;
	margin: 0px;
}*/
h4, h5, h6 {
	font-size:12px;
	font-weight: bold;
	margin:0;
}
form {
	margin:0;
}
.clear {
	margin-top: 0;
	clear: both;
}
/*----------------------------------------
  リンク設定
----------------------------------------*/
a {
	color:#686868;
	text-decoration:none;
	margin:0;
}
a:hover {
    color:#009245;
	text-decoration:underline;
	margin:0;
}

/*---------画像 半透明---------*/
a img{
background:none!important;
}

a:hover img{
opacity:0.6;
filter:alpha(opacity=60);
-ms-filter: "alpha( opacity=60 )";
background:none!important;
}

a:hover img.imglnk-no{
opacity:none;
filter:none;
-ms-filter:none;
background:none!important;
}



/*---------png画像など---------*/
 .iepngfix {
 behavior: expression(IEPNGFIX.fix(this));
}


/*ページ上部にに戻る*/
.TopTxt {
	text-align:right;
	width:100%;
}
.TopTxt a {
	color:#686868;
	text-decoration:underline;
}
.TopTxt a:hover {
    color:#009245;
	text-decoration:underline;
}




hr {
	border-width: 1px 0px 0px 0px; /* 太さ */
	border-style: dashed; /* 線種 */
	border-color: #3eb134; /* 線色 */
	height: 1px; /* 高さ */
	padding-bottom:5px;
}


/*フォントの色*/


.Red {
	color:#F00;
}
.Green {
	color:#50a117;
}
.Green18 {
	margin-bottom:5px;
	font-size:18px;
	color:#50a117;
}
.Blue {
	color:#1f70c3;
}
.Orange {
	color:#FF6600;
}

.Bold {
	font-weight: bold;
}
.font-nomal{
	font-weight: normal;
}



/*フォントの大きさ*/

 .Font16 {
	font-size:16px;
}
.small {
	font-size: 90%;
}
.font-big {
	font-size: 120%;
}

.font-udline {
	text-decoration: underline;
}


/*float画像*/
.img_L {
	float:left;
}
.img_C {
	text-align:center;
	margin:0 auto;
}
.img_R {
	float:right;
}


/*----------------------------------------
  Margin設定
----------------------------------------*/

.ml2{
	margin-left:2px;}
.ml5{
	margin-left:5px;}
.ml15{
	margin-left:15px;}
.ml20{
	margin-left:20px;}
.ml30{
	margin-left:30px;}
.ml40{
	margin-left:40px;}
.ml50{
	margin-left:50px;}

.mr4{
	margin-right:4px;}
.mr5{
	margin-right:5px;}
.mr10{
	margin-right:10px;}
.mr20{
	margin-right:20px;}
.mr25{
	margin-right:25px;}

.mb5{
	margin-bottom:5px;}
.mb10{
	margin-bottom:10px;}
.mb20{
	margin-bottom:20px;}
.mb30{
	margin-bottom:30px;}
.mb40{
	margin-bottom:40px;}
.mb50{
	margin-bottom:50px;}



/*----------------------------------------
  回り込み　行揃え
----------------------------------------*/

.fl-l{
	float: left;
}
.fl-r{
	float: right;
}

.alg-r{
	text-align: right;
}


/*----------------------------------------
  共通BOX
----------------------------------------*/
.boxleft {
	float: left;
}
.boxright {
	float: right;
}




/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

/*#container {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}*/


/*-------------------------------
mainの中身。
-------------------------------*/
#main {
	width: 976px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
	padding-left: 0px;
}

/*--========記事エリア==============--*/
#content {
	float:right;
	width:692px;
	margin-right:4px;
}
/*#contents .textBox .box {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 10px;
}*/


/*--========サイドバー==============--*/
#primary,
#secondary {
	float: left;
	overflow: hidden;
	width:272px;
	/*background-color:#FFCC00;*/
}
/*#secondary {
	clear: right;
}*/
/*#footer {
	clear: both;
	width: 100%;
}*/

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

/*
.one-column #content {
	margin: 0 auto;
	width: 640px;
}*/

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

/*
.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}*/


/* =Fonts
-------------------------------------------------------------- 
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}*/


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
/*
#access .menu-header,
div.menu,
#colophon,
#branding,
#main,
#wrapper {
	margin: 0 auto;
	width: 940px;
}
#wrapper {
	background: #fff;
	margin-top: 20px;
	padding: 0 20px;
}*/

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles 
body {
	background: #f1f1f1;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}*/

/* Text elements 
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}*/
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	/*overflow: auto;*/
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
/*a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	color: #ff4b33;
}*/

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */
/*
#header {
	padding: 30px 0 0 0;
}*/
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 700px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 15px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #000;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}


/* =Menu
-------------------------------------------------------------- */
/*
#access {
	background: #000;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	width: 928px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;
}
#access a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #333;
	color: #fff;
}
#access ul li:hover > ul {
	display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}
*/

/* =Content
-------------------------------------------------------------- */
/*
#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}*/
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 14px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
/*#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}*/
#content table {
	border: 1px solid #e7e7e7;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
/*.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}*/
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #009245;
}

/*==========================
entry-title 記事タイトル
==========================*/
#content .entry-title {
/*
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
	padding-left:25px;
	background-color:#666666;
*/	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #98CC68;
	margin-bottom: 15px;
	font-size: 14px;
}
.entry-title a:link,
.entry-title a:visited {
	/*color: #699D35;*/
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #009245;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
/*==========================
entry-content 記事本文
==========================*/
.entry-content,
.entry-summary {
	clear: both;
	padding:0 20px;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #009245;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
/*==========================
entry-content 記事フッタ
==========================*/
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
	padding:0 20px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #009245;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #009245;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
	text-align:center;
}



/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #009245;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #009245;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
サイドバーのエリア
-------------------------------------------------------------- */
/*===========================
ウィジェットエリア
===========================*/
.widget-area .xoxo {
}

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0;
}



/*アーカイブエリア
#menu .wiget-archive {
	background-image: url(images/common/menu-bg-middle.png);
	background-repeat: repeat-y;
	width: 220px;
	padding-top: 15px;
	padding-right: 26px;
	padding-left: 26px;
	line-height: 250%;
	padding-bottom: 10px;
}
#menu .wiget-archiveTp {
	background-image: url(images/common/menu-bg-top.png);
	background-repeat: no-repeat;
	background-position: top;
	width: 272px;
	height:20px;
	padding-bottom: 20px;
}
#menu .wiget-archiveBg {
	background-image: url(images/common/menu-bg-bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	width: 272px;
	padding-bottom: 20px;
}

*/




/*===========================
タイトル
===========================*/
.widget-title {
	color: #222;
	font-size:90%;
	/*font-weight: bold;*/
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0 0 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- 

#footer {
	margin-bottom: 20px;
}*/
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- 

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}*/
